@tailwind base;
@tailwind components;
@tailwind utilities;

textarea:focus{
  outline: none;
}

.save:hover{
  background-color: #ededed;
  cursor: pointer;

}

.dark-mode{
  background-color: #1D1A39;
}

.dark-mode h1{
  color: #E8BCB9;
}